body{
    background-image: url("Fondo.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
#titulo{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    -webkit-text-stroke: 3px rgb(7, 53, 3);
}
#agregar{
    font-family: cursive;
    font-size: 20px;
    color: rgb(7, 53, 3);
    border: 1px solid rgb(7, 53, 3);
    background-color: rgb(190, 255, 177);
}
#seleccion{
    font-family: cursive;
    font-size: 20px;
    color: rgb(7, 53, 3);
    border: 1px solid rgb(7, 53, 3);
    background-color: rgb(190, 255, 177);
}
.bloques{
    grid-column: 1/3;
    margin: 12px;
    border: 2px solid rgb(7, 53, 3);
    padding: 10px;
    color: #ffffff;
    font-family: cursive;
    font-size: 20px;
    background-color: rgba(85, 4, 4, 0.336);
    border-radius: 8px;
}
.bloque1{
    margin: 12px;
    border: 2px solid rgb(7, 53, 3);
    padding: 10px;
    color: #ffffff;
    font-family: cursive;
    font-size: 20px;
    background-color: rgba(85, 4, 4, 0.336);
    border-radius: 8px;
}
.bloque2{
    margin: 12px;
    border: 2px solid rgb(7, 53, 3);
    padding: 10px;
    color: #ffffff;
    font-family: cursive;
    font-size: 20px;
    background-color: rgba(85, 4, 4, 0.336);
    border-radius: 8px;
}
#input{
  width: 1000px;
  height: 48px;
  font-size: 16px;
  padding: 0 16px;
  border: 1px solid rgb(7, 53, 3);
  background-color: rgb(190, 255, 177);
  border-radius: 8px;
}
#otro{
  width: 300px;
  height: 48px;
  font-size: 16px;
  padding: 0 16px;
  border: 1px solid rgb(7, 53, 3);
  background-color: rgb(190, 255, 177);
  border-radius: 8px;
}

